.ItemsList {
  height: 100%;
}

.ModalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  border: 2px solid #000;
  padding: 4px;
  background-color: #ffffff;
}
